
    <div class="row justify-content-center">
      <div class="col">
          <!-- Codigo de bienvenida-->
        <div class="card" style=" height: 100%;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
              <div class="row justify-content-center">
                <div class="col-4">
                    <a href="#" class="btn btn-primary">Dos Fases</a>
                </div>
                <div class="col-4">
                    <a href="#" class="btn btn-primary">Grafico</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Codigo de bienvenida-->
      </div>
      <div class="col">
        <app-form-data></app-form-data>
      </div>
    </div>